@import "_fonts.css";
@import "prog_style.css";
@import "bonus_style.css";
@import "praise_style.css";
@import "partners_style.css";
@import "contacts_style.css";

/**
 * Main styles
 *
 */
html {
    height: 100%;
}
html body {
    font-family: "Open Sans";
    font-size: 16px;
    margin: 0 auto;
    color: #685760;
    height: 100%;
}

.wrapper {
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    overflow: hidden;
}

section {
    /*min-height: 100vh;*/
    text-align: center;
    padding: 50px 0 50px 0;
}

.title {
    text-align: center;
    color: #685760;
    padding-bottom: 30px;
}

.title h2 {
    font-size: 44px;
    font-weight: 100;
}

img {
    margin: 0 auto;
}

/**
 * Header
 *
 */
#menu {
    margin-bottom: 0px;
}

.navbar-brand {
    padding-top: 10px;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 10px;
}

.navbar-default {
    background-color: white;
    border-color: #e5e5e5;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 0.875em; /*16/14*/
    font-family: open sans regular;
    padding-top: 20px;
}

.navbar-toggle {
    border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #e57979;
    border-color: #e57979;
}

.navbar-default .navbar-toggle:hover > .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #44232f;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #df5757;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #8217ba;
}

/**
 * Section Main
 *
 */

.main {
    padding: 0;
    margin-top: 60px;
    min-height: 100vh;
}

.main .slider-container {
    background-color: #273238;
    padding: 50px 0;
}

.main .main-slider .slick-list,
.main .main-slider .slick-track {
    height: inherit;
}

.main .main-slider .main-slider-item {
    display: block;
    overflow: hidden;
    margin: 0 10px;
    border: 6px solid #fff;
}

.main .main-text {
    padding: 50px 0;
    font-size: 30px;
    line-height: 1.5;
}

/*====================== Section Advantages ======================*/
.advantages {
    background-color: #ff6c6c;
    margin-bottom: 50px;
}

.advantages .title h2{
    color: #fff;
    font-weight: 600;
}

.advantage-item {
    color: #fff;
}

.advantage-item--icon {
    margin-bottom: 30px;
    margin-top: 30px;
}

.advantage-item--icon i {
    font-size: 40px;
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 15px 28px;
}

.advantage-item--text {
    font-size: 20px;
    margin-bottom: 20px;
}


/**
 * Section Program
 *
 */
.program a {
    text-decoration: none;
    color: #685760;
}

.program a:hover {
    color: #C55A5A;
}

.program .row {
    text-align: center;
}

.program-box {
    padding: 20px 30px;
    border: solid;
    border-color: #ede6e6;
    border-width: 1px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.program-box .row {
    display: flex;
    align-items: center;
}

.program-box-title {
    font-size: 26px;
    line-height: inherit;
    font-weight: 400;
}

.program-box-describe {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}


/**
 * Section Contant
 *
 */
.contant-box {
    margin-bottom: 50px;
}

.contant-box img {
    display: inline-block;
}

.contant-button {
    display: inline-block;
    width: 230px;
    height: 65px;
    line-height: 65px;
    color: white;
    background-color: #ff6c6c;
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
    border-radius: 30px;
    border-color: transparent;
    text-decoration: none;
}

.contant-button:visited {
    text-decoration: none;
    color: white;
}

.contant-button:hover {
    background-color: #de3d3d;
    color: white;
    text-decoration: none;
}

.contant p {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}

.contant h3 {
    font-size: 27px;
}

/*=================== Footer ===================*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #273238;
    height: 80px;
}

.footer .footer-copyright {
    font-size: 18px;
    color: #c9cccd;
}

/*=================== Modal Special Offer ===================*/

.special-offer .modal-content {
    background-color: #ff7777;
    color: #fff;
    text-align: center;
    border-radius: 0;
}

.special-offer .modal-header {
    border-bottom: none;
}

.special-offer .modal-header button.close {
    color: #ca5f5f;
    opacity: 1;
    text-shadow: none;
}

.special-offer .modal-header button.close:hover {
    color: #fff;
    opacity: 1;
}

.special-offer .modal-header h4{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.special-offer .modal-body {
    font-size: 20px;
    line-height: 1.5;
}

.special-offer .modal-body .devider {
    margin: 15px 0;
}

.special-offer .modal-body .devider .ion-asterisk{
    margin: 0 15px;
}

.special-offer .modal-footer {
    border-top: none;
    text-align: center;
}

.special-offer .modal-footer .close-btn {
    color: #ca5f5f;
    background: transparent;
    border: 2px solid #ca5f5f;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 600;
}

.special-offer .modal-footer .close-btn:hover {
    color: #fff;
    border: 2px solid #fff;
}




/*---------@media------*/

@media (max-width: 1400px) {
    .container ul li {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 80px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .container ul li {
        padding: 0;
    }

    .program-box-title {
        font-size: 22px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-right {
        font-size: 1.5rem;
    }

    .main .main-text {
        font-size: 20px;
    }

    .program-box-title {
        font-size: 22px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-right {
        font-size: 1rem;
    }

    .main .main-text {
        font-size: 20px;
    }

    .program-box-title {
        font-size: 24px;
    }
}

@media (min-width: 544px) and (max-width: 767px) {
    .navbar-toggle {
        margin-top: 15px;
    }

    .main .main-text {
        padding: 30px 0;
        font-size: 18px;
    }

    .program-box-title {
        font-size: 24px;
    }
}

@media (max-width: 543px) {
    .navbar-toggle {
        margin-top: 15px;
    }

    .main .main-text {
        padding: 30px 0;
        font-size: 18px;
    }

    .advantages .title h2{
        font-size: 34px;
    }

    .program-box .row {
        display: block;
    }

    .program-box img {
        margin-bottom: 10px;
    }

    .program-box-title {
        font-size: 22px;
    }

    .footer .footer-copyright {
        font-size: 1em;
    }
}